.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #1fcece;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-brand {
  color: rgb(224, 46, 186);
}
/* responsive css style  */


.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar-nav li {
  margin: 0 10px;
}

.navbar-nav a {
  color: #000000;
  text-decoration: none;
}

/* Media query for mobile devices */
@media(max-width: 768px) {
  .navbar {
    padding: 5px;
  }
  
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }
  
  .navbar-nav li {
    margin: 10px 0;
  }
}

.form-label{
  color: rgb(255, 0, 43);
}

.curdapp{
  margin: 50px;
}

.readapp{
  margin: 40px;
}

/* .main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */